.section-filther {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-filther__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;

    margin-bottom: 34px;
  }
}

// .section-filther__button:not(:last-child) {
//   margin-right: 6px;
.section-filther__button {
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
  }
  margin-left: 8px;
  margin-top: 15px;
}

.card-set {
  &__img {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__element {
    @media screen and (min-width: $tablet) {
      margin: 15px;
      display: flex;
      box-sizing: border-box;
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc(100% / 3 - 30px);
    }
    cursor: pointer;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .flex-element-text {
      transform: translate(0);
    }
  }
}
.card-set__element:not(:last-child) {
  margin-bottom: 30px;
}

.card-set__text {
  @media screen and (min-width: $tablet) {
    flex-grow: 1;
  }
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;

  padding: 20px 24px;
}

.card-set__name {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__posicion {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.card-set__filther {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}

// .card-set__element {
//   outline: none;

//   margin-right: 30px;
//   margin-bottom: 30px;
// }
@media screen and (min-width: $desktop) {
  .card-set__element:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.flex-element-wrap {
  position: relative;
  overflow: hidden;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;

  transform: translateY(101%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
