.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__main {
  position: relative;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
.page-header__container {
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;

  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.page-header__item {
  display: flex;
  margin-left: 93px;
}

.page-header__element:not(:last-child) {
  margin-right: 50px;
}

.page-header__item .page-header__text .current {
  color: var(--accent-color);
}

.page-header__text {
  color: var(--title-text-color);

  list-style: none;
}

.page-header__text--current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;

  left: 0;
  bottom: -1px;
}

.page-header__title:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.page-header__text {
  display: none;
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);

    display: block;

    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-contact__link {
  display: none;
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);

    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-contact__link--tel {
  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   margin-top: 10px;
  // }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.page-header__text--invers:hover,
.page-header__text--invers:focus {
  color: var(--accent-color);
  outline: none;
}
.page-contact__link--invers:hover,
.page-contact__link--invers:focus {
  color: var(--accent-color);
  outline: none;
}

.page-header__icon {
  margin-right: 10px;
  fill: #757575;
}

.page-header__icon--envelope:hover,
.page-header__icon--envelope:focus {
  fill: var(--accent-color);
}

.page-header__icon--smartphone:hover,
.page-header__icon--smartphone:focus {
  fill: var(--accent-color);
}
.menu {
  position: fixed;
  background-color: #ffffff;

  top: 0;
  left: -15px;
  overflow: auto;
  z-index: 5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  width: calc(100% + 30px);
  height: 100%;
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button-burger {
  display: block;
  margin: 0;
  padding: 0;
  top: 10px;
  right: 15px;

  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;

  border: none;
  background-color: transparent;
  display: block;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}

.menu-nav__element {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu-nav__text {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.menu-nav__text--current {
  color: var(--accent-color);
}
.menu-contact__tel {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.menu-contact__mail {
  display: block;
  margin-top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}
.header-social {
  display: flex;
  align-items: center;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }

  &__item {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:first-child {
    padding-left: 0;
  }

  &__item:last-child {
    border-right: none;
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    @media screen and (min-width: 350px) {
      font-size: 14px;
    }
    @media screen and (min-width: 410px) {
      font-size: 18px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
