.visually-hidden {
  outline: 2px solid tomato;
}
.examples {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.section-feature {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
}
.section-feature__item {
  width: 100%;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    width: 354px;
    // margin-bottom: 0;
    // &:nth-child(even) {
    //   margin-left: 30px;
    // }
    // &:nth-child(n + 3) {
    //   margin-top: 30px;
    // }
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    // margin-left: 30px;
    margin: 15px;
  }
  // &:nth-child(1) {
  //   @media screen and (min-width: 1200px) {
  //     margin-left: 0;
  //   }
  // }
}

.advantage {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  // width: 270px;
  // @media screen and (min-width: 768px) {
  height: 120px;

  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantage__name {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
}
