.reviews {
  @media (max-width: 1199px) {
    display: none;
  }
}

.section-foto {
  padding-bottom: 94px;
}

.section-work {
  display: flex;
}

.foto {
  position: relative;

  display: flex;
  margin-right: 30px;
}
.foto:nth-child(3n) {
  margin-right: 0;
}

.foto__list {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
